//Colors

//Primary Colors

$brand-green: #00856f;
$brand-green-light: #dce9e2;
$brand-green-light-02: #f7f9f9;
$brand-beige: #fffaf1;
$brand-green-hover: #00453a;

//Secondary Colors
$gray-headline: #061800;
$gray-paragraph: #384633;
$white: #ffffff;  // That is wrong!!

//Font Size
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
 


